// Colors
$primary-color: #000000;
$sidebar-color: #ffffff;
$text-main: #000000;
$text-muted: #666666;
$border-color: #dddddd;
$danger-color: #ff4d4f;

:root {
  --primary-color: #{$primary-color};
  --sidebar-bg: #{$sidebar-color};
  --text-main: #{$text-main};
  --text-muted: #{$text-muted};
  --border-color: #{$border-color};
  --danger-color: #{$danger-color};
}
