@use "../styles/common.scss" as *;

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;

  > .content {
    box-shadow: $shadow-lg;
  }
}
